extends ../layout/index

block contenido

    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            spam.font-normal Raices
        h2.text-center.text-6xl=pagina

        .mt-8.mx-auto.max-w-md  
            .bg-white.py-8.px-4.shadow
                form.space-y-5                   
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb3.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Correo" type="text" name="email")
                    
                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia sesión
                        a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes cuenta? Crear una
                

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer " type="submit" value="Recuperar Password") 

                